%h1 Survey

- if current_user
  %table{:class => "table table-striped", :id=>"example",:cellspacing=>"0", :width=>"100%"}
    %thead
      %tr
        %th Question
    %tbody
      - @questions.each do |q|
        %tr
          %td= q.question
        %tr
          %td= rating_for q, "answer", :enable_half => true, :half_show => true
- else
  %p Please log in to see the survey

    
  